Api/Chat/.vs/Chat/v16/.suo
Api/Chat/Chat/obj/project.nuget.cache
Api/Chat/Chat/obj/Debug/netcoreapp3.1/Chat.assets.cache
Api/Chat/Chat/obj/Debug/netcoreapp3.1/Chat.csprojAssemblyReference.cache
Api/Chat/Chat/obj/Chat.csproj.nuget.g.props
Api/Chat/Chat/obj/Chat.csproj.nuget.dgspec.json
Api/Chat/Chat/obj/project.assets.json
